<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    </head>
    <body>
        <h1>Ajouter une données dans la base de données</h1>

        <form action="post-data" method="POST">
            <label for="name">Nom du capteur</label>
            <input type="text" name="name" id="name">

            <label for="latitude">Latitude</label>
            <input type="text" name="latitude" id="latitude">

            <label for="longitude">Longitude</label>
            <input type="text" name="longitude" id="longitude">

            <button type="submit">Ajouter</button>
        </form>
    </body>
</html>