<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    </head>
    <body>
        <h1>Sqlite Node Server</h1>

        <h2>Liste de capteurs</h2>
        <ul>
            <% for( let item of data ){ %>
                <li><%- item.name %> <%- item.latitude %> <%- item.longitude %></li>
            <% } %>
        </ul>

        <a href="/add-data">Ajouter une données dans la base de données Sqlite</a>
    </body>
</html>